# Binarios compilados
shellbeat
shellbeat-dl
*.exe
*.exe.manifest
*.dll
*.so
*.dylib

# Carpetas de datos y entorno
musica/*
!musica/.gitkeep
*.db
descargadas.txt
biblioteca.json

# IDEs
.idea/
.vscode/
.DS_Store